extends layout

block content
    .search-section
        input(type="text" placeholder="Search Bar")
    
    .main-content 
        h1 #{heading} 
        table(border=1)
            thead
                tr
                    th Title
                    th Platform
            tbody
                //- 'data' is now an array of Game Objects
                for item in data 
                    tr  
                        td: a(href='/game-single/' + item.id) #{item.title}
                        td #{item.platform}