doctype html
html
  head
    title Game Space
    style.
      body {
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
        margin: 0;
      }
      .navbar {
        background-color: #0d1b3e; 
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid #edc967;
      }
      .logo {
        height: 50px;
      }
      .brand-title {
        color: #edc967;
        margin-left: 15px;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .main-container {
        padding: 20px;
      }

  body
    nav.navbar
      a(href='/')
        img.logo(src='/images/logo.png' alt='Logo')
      span.brand-title gamespace

    .main-container
      block content